<template>
  <el-card class="box-card">
    <div slot="header">
      <h3>
        {{title}}
        <el-button
          circle
          size="medium"
          style="float:right"
          type="primary"
          icon="el-icon-plus"
          @click="toggleNewStudent"
        />
      </h3>
      <el-pagination
        :page-sizes="[10,20]"
        small
        layout="sizes, prev, pager, next"
        :total="students.length"
        :current-page.sync="currentPage"
        @current-change="updatePage"
        @size-change="sizeChange"
        background
      ></el-pagination>
    </div>
    <el-collapse class="scrollable" v-model="opennedTab" accordion>
      <el-collapse-item v-show="addNewStudent" name="new">
        <span slot="title">
          <i class="el-icon-rank handle"></i>
          New Student
        </span>
        <el-form ref="createStudent" :model="newStudent" :rules="rules" label-width="100px">
          <el-form-item label="Student ID">
            <el-input type="text" v-model="newStudent.studentId" disabled />
          </el-form-item>
          <el-form-item label="First Name" prop="firstName">
            <el-input type="text" v-model="newStudent.firstName" />
          </el-form-item>
          <el-form-item label="Last Name" prop="lastName">
            <el-input type="text" v-model="newStudent.lastName" />
          </el-form-item>
          <el-form-item label="Phone #" prop="phoneNumber">
            <el-input type="text" v-model="newStudent.phoneNumber" />
          </el-form-item>
          <el-form-item>
            <el-button type="danger" @click="toggleNewStudent" icon="el-icon-error" />
            <el-button type="success" @click="createStudent" icon="el-icon-success" />
          </el-form-item>
        </el-form>
      </el-collapse-item>
      <draggable
        class="list-group"
        v-model="currentStudents"
        handle=".handle"
        group="people"
        @change="change"
      >
        <el-collapse-item v-for="student in currentStudents" :key="student.studentId">
          <span slot="title">
            <i class="el-icon-rank handle"></i>
            <strong>{{`${student.lastName},`}}</strong>
            {{student.firstName}}
          </span>
          <el-form
            :ref="`student${student.studentId}`"
            :model="student"
            :rules="rules"
            label-width="100px"
          >
            <el-form-item label="Student ID">{{student.studentId}}</el-form-item>
            <el-form-item label="First Name" prop="firstName">
              <el-input type="text" v-model="student.firstName" />
            </el-form-item>
            <el-form-item label="Last Name" prop="lastName">
              <el-input type="text" v-model="student.lastName" />
            </el-form-item>
            <el-form-item label="Phone #" prop="phoneNumber">
              <el-input type="text" v-model="student.phoneNumber" />
            </el-form-item>
            <el-form-item :label="'Status'" prop="status">
              <el-select v-model="student.status">
                <el-option
                  v-for="status in statuses"
                  :key="status.label"
                  :label="status.label"
                  :value="status.value"
                />
              </el-select>
            </el-form-item>
            <el-form-item>
              <el-button type="primary" @click="updateStudent(student)">Update</el-button>
            </el-form-item>
          </el-form>
        </el-collapse-item>
      </draggable>
    </el-collapse>
  </el-card>
</template>
<script>
import draggable from 'vuedraggable'
export default {
  name: 'studentList',
  props: ['title', 'students', 'status'],
  methods: {
    change(event) {
      if (event.added) {
        let student = event.added.element
        student.status = this.status
        this.mutableStudents.push(student)
        this.mutableStudents = this.mutableStudents.sort((a, b) => {
          const x = a.lastName.toLowerCase() + a.firstName.toLowerCase()
          const y = b.lastName.toLowerCase() + b.firstName.toLowerCase()
          if (x < y) {
            return -1
          }
          if (x > y) {
            return 1
          }
          return 0
        })
        this.updatePage(this.currentPage)
        this.$emit('updateStudent', student)
      }
    },
    updateStudent(student) {
      const ref = `student${student.studentId}`
      this.$refs[ref][0].validate(valid => {
        if (valid) {
          this.$emit('updateStudent', student)
        } else {
          return false
        }
      })
    },
    createStudent(student) {
      this.newStudent.status = this.status
      this.$refs.createStudent.validate(valid => {
        if (valid) {
          this.$emit('createStudent', this.newStudent)
        } else {
          return false
        }
      })
    },
    toggleNewStudent() {
      this.addNewStudent = !this.addNewStudent
      this.newStudent = {}
      this.opennedTab = 'new'
    },
    sizeChange(size) {
      this.pageSize = size
    },
    updatePage(page) {
      this.currentPage = page
      let start = (this.currentPage - 1) * this.pageSize
      this.addNewStudent = false
      let end = start + this.pageSize
      this.currentStudents = this.mutableStudents.slice(start, end)
    }
  },
  watch: {
    students: {
      handler() {
        this.mutableStudents = this.students.map(e => ({ ...e }))
        this.updatePage(this.currentPage)
        this.newStudent = {}
        this.addNewStudent = false
      },
      immediate: true
    }
  },
  components: { draggable },
  data() {
    return {
      mutableStudents: [],
      formLabels: {
        studentId: 'Student ID',
        firstName: 'First Name',
        lastName: 'Last Name',
        phoneNumber: 'Phone Number'
      },
      currentStudents: [],
      statuses: [
        { label: 'Active', value: 'active' },
        { label: 'Delinquent', value: 'delinquent' },
        { label: 'Dropped', value: 'dropped' }
      ],
      addNewStudent: false,
      newStudent: {},
      pageSize: 10,
      currentPage: 1,
      opennedTab: '',
      rules: {
        firstName: [
          {
            required: true,
            message: 'Please enter a valid first name for the student',
            trigger: 'blur'
          },
          {
            pattern: '^[a-zA-Z]+$',
            message: 'Please use only letters',
            trigger: 'blur'
          }
        ],
        lastName: [
          {
            required: true,
            message: 'Please enter a valid the last name for the student',
            trigger: 'blur'
          },
          {
            pattern: '^[a-zA-Z]+$',
            message: 'Please use only letters',
            trigger: 'blur'
          }
        ],
        phoneNumber: [
          {
            pattern: '^[1-9]+$',
            message: 'Please enter only numbers',
            trigger: 'blur'
          }
        ]
      }
    }
  }
}
</script>
<style scoped lang="scss">
@media (min-width: 992px) {
  .scrollable {
    overflow-y: scroll;
    max-height: 600px;
    box-sizing: border-box;
  }
}

.el-input {
  width: 75%;
}
.handle {
  margin-right: 5px;
}
.el-select {
  width: 75%;
}
.el-collapse-item {
  padding-right: 10px;
}
</style>