<template>
  <div id="app">
    <el-container>
      <el-header>
        <h3 class="Title">Flyht Student Enrollment Example</h3>
      </el-header>
      <el-main>
        <el-row :gutter="20">
          <el-col :xs="24" :sm="24" :md="8">
            <studentList
              title="Active Students"
              status="active"
              :students="activeStudents"
              @updateStudent="updateStudent"
              @createStudent="createStudent"
            />
          </el-col>
          <el-col :xs="24" :sm="24" :md="8">
            <studentList
              title="Delinquent Students"
              status="delinquent"
              :students="delinquentStudents"
              @updateStudent="updateStudent"
              @createStudent="createStudent"
            />
          </el-col>
          <el-col :xs="24" :sm="24" :md="8">
            <studentList
              title="Dropped Students"
              status="dropped"
              :students="droppedStudents"
              @updateStudent="updateStudent"
              @createStudent="createStudent"
            />
          </el-col>
        </el-row>
      </el-main>
      <el-footer id="footer">
        <h4>Stan Le's application for front end developer</h4>
      </el-footer>
    </el-container>
  </div>
</template>

<script>
import studentList from './components/studentList'
import axios from 'axios'
// I realize this isn't a true natural sort. However, that would be incredibly messy and I feel like this gets the point across well enough since realistically we won't have that many people with the same name
const sort = (a, b) => {
  const x = a.lastName.toLowerCase() + a.firstName.toLowerCase()
  const y = b.lastName.toLowerCase() + b.firstName.toLowerCase()
  if (x < y) {
    return -1
  }
  if (x > y) {
    return 1
  }
  return 0
}

export default {
  name: 'app',
  components: { studentList },
  computed: {
    activeStudents() {
      return this.students
        .filter(student => student.status === 'active')
        .sort(sort)
    },
    delinquentStudents() {
      return this.students
        .filter(student => student.status === 'delinquent')
        .sort(sort)
    },
    droppedStudents() {
      return this.students
        .filter(student => student.status === 'dropped')
        .sort(sort)
    }
  },
  methods: {
    async fetchStudents() {
      try {
        const studentReq = await axios.get('http://localhost:2337/api/students')
        this.students = studentReq.data
        this.studentIds = studentReq.data.map(e => e.studentId)
        this.error = ''
      } catch (err) {
        this.error = err.msg
      }
    },
    async updateStudent(student) {
      const oldStudent = this.students[
        this.studentIds.indexOf(student.studentId)
      ]
      this.students[this.studentIds.indexOf(student.studentId)] = student
      try {
        await axios.put(
          `http://localhost:2337/api/students/${student.studentId}`,
          student
        )
        this.$notify.success('Your student has been updated')
      } catch (err) {
        this.$notify.error('Something went wrong')
        this.students[this.studentIds.indexOf(student.studentId)] = oldStudent
      }
    },
    async createStudent(student) {
      try {
        const newStudentReq = await axios.post(
          'http://localhost:2337/api/students',
          student
        )
        this.students.push(newStudentReq.data)
        this.$notify.success('Your student was created')
      } catch (err) {
        this.$notify.error('Something went wrong')
      }
    }
  },
  mounted() {
    this.fetchStudents()
  },
  data() {
    return {
      students: [],
      studentIds: []
    }
  }
}
</script>

<style lang="scss">
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  height: 100%;
  overflow: hidden;
  margin: 0;
}

@media (min-width: 992px) {
  #footer {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
}
</style>
